<section>
    <h1>投稿の編集</h1>
    <form action = "/edit/<%= @edit.id %>" method = "post">
        機種選択
        <select name = "platform">
            <% Model.all.each do |modellist| %>
                <option value = "<%= modellist.id %>"
                <% if modellist.id == @edit.modellist.id %>
                    selected
                <% end %>>
                <%= modellist.platform %>
                </option>
            <% end %>
        </select><br>
        ゲームタイトル
        <input type = "text" name = "gamename" value = <%= Game.find_by(id: @edit.game_id).gamename %>>
        </input><br>
        カテゴリー
        <select name = "purpose" >
            <% Category.all.each do |categorylist| %>
                <option value = "<%= categorylist.id %>"
                <% if categorylist.id == @edit.categorylist.id %>
                    selected
                <% end %>>
                <%= categorylist.purpose %>
                </option>
            <% end %>
        </select><br>
        投稿内容<br>
        <textarea name = "article" rows ="4" col ="50" value = <%= @edit.article %>>
        </textarea><br>
        <input type = "submit" value = "修正">
        </input>
</section>