<section style="text-align:center">
    <h1>投稿の編集</h1>
    <form action = "/edit/<%= @edit.id %>" method = "post">
        機種選択
        <select name = "platform">
            <% Model.all.each do |model| %>
                <option value = "<%= model.id %>"
                <% if model.id == @edit.model.id %>
                    selected
                <% end %>>
                <%= model.platform %>
                </option>
            <% end %>
        </select><br>
        ゲームタイトル
        <input type = "text" name = "gamename" value = <%= Game.find_by(id: @edit.game_id).gamename %>>
        </input><br>
        カテゴリー
        <select name = "purpose" >
            <% Category.all.each do |category| %>
                <option value = "<%= category.id %>"
                <% if category.id == @edit.category.id %>
                    selected
                <% end %>>
                <%= category.purpose %>
                </option>
            <% end %>
        </select><br>
        投稿内容<br>
        <textarea name = "article" rows = "5" cols = "40" ><%= @edit.article %></textarea><br>
        <input type = "submit" value = "修正">
        </input>
</section>