<section>
    <%= @message %>
    <form action = "/edit/profile" method = "get">
        <h1><% if current_user.profile.empty? %>
                <img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40">
            <% else %>
                <img src = "<%= current_user.profile %>" alt = "user_image" width = "40" height = "40">
            <% end %>
            <%= current_user.name %>さん
            <input type = "submit" value = "プロフィール変更"> |
            <span class = "star5_rating" data-rate = "<%= @userstar %>">
            </span>
            <a href = "/review/<%= current_user.id %>"><%= @reviewcounts %></a>
    </form>
    </h1>
    <h1><%= current_user.name %>さんが今Join中のトークルーム</h1>
    <%# すでにJoinしている時マイページからも飛べるようにする%>
    <% if !@userjoins.empty? %>
        <% @userjoins.each do |userjoin| %>
            <% talkroom = Talkroom.find_by(id: userjoin.talkroom_id) %>
            <% if talkroom != nil %>
                <% recruit = Recruit.find_by(id: talkroom.recruit_id) %><%# joinした投稿レコード%>
                <% if recruit.user_id != session[:user] %><%# 自分自身の投稿は表示しない%>
                    <p><% if User.find_by(id: recruit.user_id).profile.empty? %>
                            <a href = "/otherpage/<%= recruit.user_id %>"><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
                        <% else %>
                            <a href = "/otherpage/<%= recruit.user_id %>"><img src = "<%= User.find_by(id: recruit.user_id).profile %>" alt = "user_image" width = "40" height = "40"></a>
                        <% end %>
                        <%= User.find_by(id: recruit.user_id).name %>
                        <%= recruit["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
                    <p><form action = "/talkroom/<%= recruit.id %>" method = "get">
                        <%= Model.find_by(id: recruit.model_id).platform %> | 
			            <%= Category.find_by(id: recruit.category_id).purpose %> |
			            <%= Game.find_by(id: recruit.game_id).gamename %> |
			            <% joinpeople = Join.where(talkroom_id: Talkroom.find_by(recruit_id: recruit.id)).where.not(user_id: recruit.user_id).count %>
			            定員 <%= joinpeople %>/<%= recruit["applicant"] %> |
			            <%= recruit["article"] %>
                        <input type = "submit" value = "トークに戻る">
                        </form>
                    <p>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        ありません。誰かの投稿を見てJoinしてみよう！
    <% end %>
    
    <h1><%= current_user.name %>さんの投稿</h1>
    <% if !@posts.empty? %>
        <% @posts.reverse_each do |posting| %>
            <form action = "/talkroom/<%= posting.id %>" method = "get">
                <p><%= posting["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
                <p><%= Model.find_by(id: posting.model_id).platform %> | 
                <%= Game.find_by(id: posting.game_id).gamename %> | 
                <%= Category.find_by(id: posting.category_id).purpose %> | 
                <% joinpeople = Join.where(talkroom_id: Talkroom.find_by(recruit_id: posting.id)).where.not(user_id: posting.user_id).count %>
                定員 <%= joinpeople %>/<%= posting["applicant"] %> |
                <%= posting["article"] %> | 
                <a href = "/edit/<%= posting.id %>">編集</a>
                <a href = "/delete/<%= posting.id %>">削除</a>
                <% if posting.status == false %>
                    募集中！
                    <% if !@talkrooms.empty? %>
                        <% @talkrooms.reverse_each do |talkroom| %><%# 他のユーザーがトークルームに入ると表示かつ、誰もいない時は非表示%>
                            <% if posting == Recruit.find_by(id: talkroom.recruit_id) %>
                                <input type = "submit" value = "誰か遊びにきたよ!">
                            <% end %>
                        <% end %>
                    <% end %>
                <% elsif posting.status == true %>
                    募集終了
                <% end %>
            </form></p>
        <% end %>
    <% else %>
    <b>投稿がありません</b>
    <% end %>
</section>