<section style="text-align:center">
    <h2><% if @otheruser.profile.empty? %>
            <img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40">
        <% else %>
            <img src = "<%= @otheruser.profile %>" alt = "user_image" width = "40" height = "40">
        <% end %>
        <%= @otheruser.name %>さん 
        <span class = "star5_rating" data-rate = "<%= @userstar %>">
        </span>
        <a href = "/review/<%= @otheruser.id %>"><%= @reviewcounts %></a>
    </h2>
    <h1><%= @otheruser.name %>さんの投稿</h1>
    <% if !@otherposts.empty? %>
        <% @otherposts.reverse_each do |otherpost|%>
            <div class = "box22">
                <p><%= otherpost["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
                <p><%= Model.find(otherpost.model_id).platform %> <span class = "color-line">|</span> 
                <%= Game.find(otherpost.game_id).gamename %> <span class = "color-line">|</span>   
                <%= Category.find(otherpost.category_id).purpose %> <span class = "color-line">|</span> 
                <% joinpeople = Join.where(talkroom_id: Talkroom.find_by(recruit_id: otherpost.id)).where.not(user_id: @otheruser).count %>
                定員 <%= joinpeople %>/<%= otherpost["applicant"] %>
                <% if otherpost["article"] != "" %>
                    <span class = "color-line">|</span> <%= otherpost["article"] %>
                <% end %> <br>
                <% if session[:user] != @otheruser.id && otherpost.status == false && joinpeople != otherpost["applicant"] && Join.find_by(user_id: session[:user], talkroom_id: Talkroom.find_by(recruit_id: otherpost.id)) == nil %>
                    <form action = "/talkroom/<%= otherpost.id %>" method ="post">
                    <input class = "btn_05" type = "submit" value = "募集中!">
                    </form>
                <% elsif Join.find_by(user_id: session[:user], talkroom_id: Talkroom.find_by(recruit_id: otherpost.id)) != nil && session[:user] != @otheruser.id %>
                    <form action = "/talkroom/<%= Talkroom.find_by(recruit_id: otherpost.id).id %>" method ="get">
                    <input class = "btn_05" type = "submit" value = "トークに戻る">
                    </form>
                <% elsif joinpeople == otherpost["applicant"] %>
                    満員
                <% elsif otherpost.status == true %>
                    募集終了
                <% end %>
            </form>
            </div>
        <% end %>
    <% else %>
        <b>投稿がありません</b>
    <% end %>
</section>