<section>
    <h1><%= current_user.name %>さんの投稿</h1>
        <% if !@posts.empty? %>
            <% @posts.reverse_each do |posting| %>
                <p><%= posting["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
                <p><%= Model.find_by(id: posting.model_id).platform %> | 
                <%= Game.find_by(id: posting.game_id).gamename %> | 
                <%= Category.find_by(id: posting.category_id).purpose %> | 
                <%= posting["article"] %> | 
                <a href = "/edit/<%= posting.id %>">編集</a> 
                <a href = "/delete/<%= posting.id %>">削除</a>
                </p>
            <% end %>
        <% else %>
        <b>投稿がありません</b>
        <% end %>
</section>