<section>
	<h1>最近の募集</h1>
	<b>カテゴリーで絞る</b><br>
	<form action = "/search" method = "post">
		機種
		<% @models.each do |model| %>
			<a href = "/?model=<%= model.id %>"><%= model.platform %></a>
		<% end %><br>
		目的
		<% @categories.each do |category| %>
			<a href = "/?category=<%= category.id %>"><%= category.purpose %></a>
		<% end %><br>
		ゲームタイトル
		<input type = "text" name = "gamename" placeholder = "ゲームタイトル">
		<input type = "submit" value = "検索">
	</form>	
	<% if !@recruits.empty? %>
		<% @recruits.reverse_each do |recruit| %>
			<p><% if User.find_by(id: recruit.user_id).profile.empty? %><%# プロフィール画像がなければ%>
					<% if session[:user] != recruit.user_id  && session[:user] != nil %><%# 他のユーザーだけ押せる%>
			   			<a href = "/otherpage/<%= recruit.user_id %>"><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
			   		<% else %>
			   			<img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40">
			   		<% end %>
               <% else %>
               		<% if session[:user] != recruit.user_id  && session[:user] != nil %><%# 他のユーザーだけ押せる%>
                		<a href = "/otherpage/<%= recruit.user_id %>"><img src = "<%= User.find_by(id: recruit.user_id).profile %>" alt = "user_image" width = "40" height = "40"></a>
                	<% else %>
                		<img src = "<%= User.find_by(id: recruit.user_id).profile %>" alt = "user_image" width = "40" height = "40">
                	<% end %>
               <% end %>
	     	　 <%= User.find_by(id: recruit.user_id).name %>
			   <%= recruit["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
			<p><form action = "/talkroom/<%= recruit.id %>" method = "post">
			   <%= Model.find_by(id: recruit.model_id).platform %> | 
			   <%= Category.find_by(id: recruit.category_id).purpose %> |
			   <%= Game.find_by(id: recruit.game_id).gamename %> |
			   <% joinpeople = Join.where(talkroom_id: Talkroom.find_by(recruit_id: recruit.id)).where.not(user_id: recruit.user_id).count %>
			   定員 <%= joinpeople %>/<%= recruit["applicant"] %> | 
			   <%= recruit["article"] %> | 
			   <%# まだ、そのユーザーがJoinボタンを押していな時、かつログインしている時、かつ他のユーザー投稿であるとき、かつ募集中の時表示%>
			   <% if session[:user] != nil && session[:user] != User.find_by(id: recruit.user_id).id && Join.find_by(user_id: session[:user], talkroom_id: Talkroom.find_by(recruit_id: recruit.id)) == nil && recruit.status == false && joinpeople != recruit["applicant"]%>
			   		<input type = "submit" value = "募集中！">
			   <%# すでにJoinしている時 %>
			   <% elsif Join.find_by(user_id: session[:user], talkroom_id: Talkroom.find_by(recruit_id: recruit.id)) != nil && session[:user] != User.find_by(id: recruit.user_id).id%>
			   		<input type = "submit" value = "トークに戻る">
			   <% elsif joinpeople == recruit["applicant"] %>
			   		満員
			   <%# 募集終了すると募集終了と出る%>
			   <% elsif recruit.status == true %>
			   		募集終了
			   <% end %>
			   </form>
			</p>
			--------------------------------------------
        <% end %>
    <% else %>
    	<b>投稿がありません</b>
    <% end %>
</section>
