<section>
	<form action = "/search" method = "post">
		<h1>最近の募集  | 
		<a href = ></a>
		<input type = "text" name = "gamename" placeholder = "ゲームタイトル">
		<input type = "submit" value = "検索">
		</h1>
	</form>	
	<% if !@recruits.empty? %>
		<% @recruits.reverse_each do |recruit| %>
			<p><% if User.find_by(id: recruit.user_id).profile.empty? %>
			   		<img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40">
               <% else %>
                	<img src = "<%= User.find_by(id: recruit.user_id).profile %>" alt = "user_image" width = "40" height = "40">
               <% end %>
	     	　 <%= User.find_by(id: recruit.user_id).name %>
			   <%= recruit["articletime"].strftime("%Y-%m-%d %H:%M:%S") %></p>
			<p><form action = "/talkroom" method = "get">
			   <%= Model.find_by(id: recruit.model_id).platform %> | 
			   <%= Category.find_by(id: recruit.category_id).purpose %> |
			   <%= Game.find_by(id: recruit.game_id).gamename %> |
			   <%= recruit["article"] %>
			   <% if session[:user] != nil && session[:user] != User.find_by(id: recruit.user_id).id %>
			   		<input type = "submit" value = "Join!">
			   <% end %>
			   </form>
			</p>
			--------------------------------------------
        <% end %>
    <% else %>
    	<b>投稿がありません</b>
    <% end %>
</section>
