<body>
    <form action = "/write/review/<%= @reviewed.id %>" method = "get">
        <h1><%= @reviewed.name %>さんの評価
        <% if @reviewed.name != current_user.name %>
            <input type = "submit" value = "評価する">
        <% end %></h1>
    </form>
    <% if !@reviews.empty? %>
        <% @reviews.reverse_each do |review|%>
            <% if User.find_by(id: review.reviewer_id).profile.empty? %>
                <a href = "/otherpage/<%= review.reviewer_id %>"><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
            <% else %>
                <a href = "/otherpage/<%= review.reviewer_id %>"><img src = "<%= User.find_by(id: review.reviewer_id).profile %>" alt = "user_image" width = "40" height = "40"></a>
            <% end %>
            <%= User.find_by(id: review.reviewer_id).name %> |
            <span class = "star5_rating" data-rate = "<%= review.star %>">
            </span> |
            <%= review["evaluation"]%>
            <br>
        <% end %>
    <% else %>
        <b><%= @reviewed.name %>さんへの評価がありません</b>
    <% end %>
</body>