<section>
    <form action = "/exit/<%= @joinrecruit.id %>" method = "post">
        <h1><%= User.find_by(id: @joinrecruit.user_id).name %>さんと
        <%= Game.find_by(id: @joinrecruit.game_id).gamename%>で遊ぶためのトークルーム
        <% if session[:user] == User.find(@joinrecruit.user_id).id %>
            <input type = "submit" value = "終了する"></h1>
        <% else %>
            <input type = "submit" value = "退出する"></h1>
        <% end %>
    </form>
    <b>今Joinしているユーザー：
    <% @joiner.each do |joiner| %>
        <% if @talkrooms.id == joiner.talkroom_id %>
            <% if joiner.user_id != @joinrecruit.user_id %><%# 投稿者の名前はいらない%>
                <%= User.find_by(id: joiner.user_id).name %>,
            <% end %>
        <% end %>
    <% end %></b><br>
    <h1>チャット</h1>
    <% if !@chats.empty? %>
        <% @chats.each do |chat| %>
            <%= User.find_by(id: chat.user_id).name %>：
            <%= chat["comment"] %><br>
        <% end %>
    <% end %>
    <form action = "/chat/<%= @talkrooms.id %>" method = "post">
        <input type = "text" name = "comment" placeholder = "メッセージを入力">
        <input type = "submit" value = "送信">
    </form>
</section>