<section style="text-align:center">
<% if !@update.present? %>
    <form action = "/exit/<%= @talkrooms.id %>" method = "post">
        <h1><%= User.find_by(id: @joinrecruit.user_id).name %>さんと
        <%= Game.find_by(id: @joinrecruit.game_id).gamename%>で遊ぶためのトークルーム  
        <% if session[:user] == User.find(@joinrecruit.user_id).id %>
            <button type = "submit" value = "終了する">
                <i class="fas fa-door-closed fa-lg posicolor8"></i>
                終了する
            </button>
        <% else %>
            <button type = "submit" value = "退出する">
                <i class="fas fa-door-open fa-lg posicolor8"></i>
                退出する
            </button>
        <% end %></h1>
    </form>
    <b>今Joinしているユーザー：
    <% @joiner.each do |joiner| %>
        <% if @talkrooms.id == joiner.talkroom_id %>
            <% if joiner.user_id != @joinrecruit.user_id %><%# 投稿者の名前はいらない%>
                <%= User.find_by(id: joiner.user_id).name %>,
            <% end %>
        <% end %>
    <% end %></b><br>
    <h2>チャット</h2><br>
<% end %>
    <div id = "ajaxreload">
        <% if !@chats.empty? %>
            <% @chats.each do |chat| %>
                <!--吹き出しはじまり-->
                <div class="balloon5">
                    <div class="faceicon">
                        <% if session[:user] != chat.user_id %><%# 他のユーザーアイコン%>
                            <% if User.find_by(id: chat.user_id).profile.empty? %>
                                <a href = "/otherpage/<%= chat.user_id %>"><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
                            <% else %>
                                <a href = "/otherpage/<%= chat.user_id %>"><img src = "<%= User.find_by(id: chat.user_id).profile %>" alt = "user_image" width = "40" height = "40"></a>
                            <% end %>
                        <% else %><%# 自分のアイコン%>
                            <% if User.find_by(id: chat.user_id).profile.empty? %>
                                <a href = "/home"><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
                            <% else %>
                                <a href = "/home"><img src = "<%= User.find_by(id: chat.user_id).profile %>" alt = "user_image" width = "40" height = "40"></a>
                            <% end %>
                        <% end %><br>
                    
                        <%= User.find_by(id: chat.user_id).name %>
                    </div>
                    <div class="chatting">
                        <div class="says">
                            <p style="width:30em;">><%= chat["comment"] %></p><%# 30文字ごとに改行%>
                        </div>
                    </div>
                </div>
                <!--吹き出し終わり-->
            <% end %>
        <% end %>
     </div>
    
    <% if @update != true %><%# 初回だけ表示 %>
    <p hidden class = "sendtalkroom"><%= @id %></p><%# 渡すためのトークルームid%>
    <% end %>
    
    <% if !@update.present? %>
    <div id = "footer">
    <form id = "form_id" action = "/chat/<%= @talkrooms.id %>" method = "post">
        <input class = "sendchat" type = "text" name = "comment" placeholder = "メッセージを入力" required>
            <%#button type = "submit" value = "送信" %>
            <i class="fas fa-paper-plane fa-2x buttoncolor"></i>
            <%#/button%>
    </form>
    </div>
    <% end %>
    <script
        src = "/js/message.js"
    ></script>
</section>